body {
     background-color: #ddd;
     max-width: 700px;
     padding-left: 40px;
     padding-top: 20px;
}

a {
  color: blue;
}

table {border-collapse: collapse;
       border:2px solid black;
      }
td {border:1px solid black; padding: 3px}
th {border: 2px solid #666; padding: 3px;
    background-color: #222; color: #ddd}

img {max-width: 450px;}

p {margin-bottom: 1.3em;}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.3em 1%;
    padding: 0.4em 2%;}

h1, h2, h3, h4 {
    line-height: 1.2;}

pre code {
    font-family:MS PGothic,Mona,IPAMonaPGothic,"giko2",sans-serif;
    font-size: 16px;
    line-height: 18px;
    display: inline-block;
    width: auto;
    background-color: white;
    padding: 8px;
}

code.language-m {
    font-family: monospace;
}

code.language-aa {
    font-family:MS PGothic,Mona,IPAMonaPGothic,"giko2",sans-serif;
}

.row {border: 3px solid black;
      margin: auto;
      padding:8px;}

.column {
  float: left;
  width: 33.33%;
  overflow: scroll;
  box-sizing: border-box;
  white-space: nowrap;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
